<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CenterPunch">
        <activity
            android:name=".View.DashBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar"/>
        <activity
            android:name=".View.RITC_RTSE_REPORT"
            android:exported="false" />
        <activity
            android:name=".View.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar" />
        <activity
            android:name=".View.Location_Change_Request"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar"/>
        <activity
            android:name=".View.RITC_RTSE_PUNCH"
            android:exported="false" />
        <activity
            android:name=".View.DbImageComparison"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar" />
        <activity
            android:name=".View.LoginPage"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar" />
        <activity
            android:name=".View.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.CenterPunch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CenterPunch.NoActionBar" />
    </application>

</manifest>